<div class="container">
<div class="row">
  <div class="col-md-4 menu-layout">
      <div class="row server-margin">
        <div class="col-md-6 col-6 align-text-center">
          <button class="btn btn-success btn-lg" (click)="incrementServers()">
              +
          </button><br/>
          <span>Add Server</span>
        </div>

        <div class="col-md-6 col-6 align-text-center">
          <button  class="btn btn-danger btn-lg" (click)="decrementServers()">
             -
          </button> <br/>
          <span>Destroy</span>
        </div>

      </div>
      <div>

      <ng-container *ngFor="let app of applications" >
       <app-application  [application]=app (addAppToServer)="addAppToServer($event)" (removeAppFromServer)="removeAppFromServer($event)" ></app-application>
      </ng-container>
        </div>
  </div>

  <div class="col-md-8 server-canvas-layout">
    <div class="ser-layout-heading" >Server Canvas</div>
    <app-server-list [servers]= servers ></app-server-list>
    </div>
 </div>
<div>
